#collapsibleInfoContainer {
  visibility: collapse;
}
#playerContainer {
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  overflow-y: scroll;
  border-top: #FEA520 2px solid;
  align-self: flex-end;
}
#player {
  width: 94%;
  align-self: center;
}
#topContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#newPlayerButton {
  align-self: center;
}
#playersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
