<body>
<main class="homePageContainer">
  <section class="loginSection">
    <app-login></app-login>
  </section>
  <section class="activeGamesSection">
    <h1 style="color: #B2BBBD" class="activeGamesTitle">Active Games:</h1>
    <ul class="activeGameList">
      <!--<li *ngIf="games.length==0">
        There are no active games in your area...
      </li>
      <li *ngFor="let game of games">
        <h2>{{game.name}}</h2>
      </li>-->
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
      <li class="activeGameElement">TestElement</li>
    </ul>
  </section>
</main>
</body>
