.loginSection {
  background-color: #272D2D;
  border-right: #FEA520 solid 2px;
  width: 30%;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#logo {
  width: 70%;
  margin-left: 15%;
}
.activeGamesSection {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: flex-end;
  flex-direction: column;
}
.activeGamesTitle {
  align-self: center;
}
.activeGameList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  max-height: 80%;
  justify-content: space-evenly;
  row-gap: 15px;
  overflow-y: scroll;
}
.activeGameElement {
  width: 45%;
}
.homePageContainer {
  display: flex;
  max-height: 97vh;
  justify-content: flex-end;
}
