<body>
<main class="homePageContainer">
  <section class="loginSection">
    <section class="blackBackground" id="authWindow">
      <h1>Place Authentication Here :)</h1>
      <app-auth-button></app-auth-button>
    </section>
  </section>
  <section class="activeGamesSection">
    <h1 style="color: #B2BBBD" class="activeGamesTitle">Active Games:</h1>
    <ul class="activeGameList">
      <app-active-game *ngFor="let game of games"
                       [gameName]="game.name"
                       [gameStart]="'05.10'"
                       [gameEnd]="'31.10'"
                       [gameStatus]="game.state"
                       class="activeGameElement"
      ></app-active-game>
    </ul>
  </section>
</main>
</body>
