<body>
<main class="homePageContainer">
  <section class="loginSection">
    <section class="blackBackground" id="authWindow">
      <h1>Place Authentication Here :)</h1>
      <app-auth-button [(players)]="players"></app-auth-button>
    </section>
  </section>
  <section class="activeGamesSection">
    <section id="titleSection">
      <h1 style="color: #B2BBBD" class="activeGamesTitle">Active Games:</h1>
      <button class="normalGreyButton" (click)="createGame()">New Game</button>
    </section>
    <ul class="activeGameList">
      <app-active-game *ngFor="let game of games"
                       [gameId]="game.id"
                       [gameName]="game.name"
                       [gameStart]="'05.10'"
                       [gameEnd]="'31.10'"
                       [gameStatus]="game.gameState"
                       [playerId]="players[0].id"
                       class="activeGameElement"
      ></app-active-game>
    </ul>
  </section>
</main>
</body>
