<section class="greyBackground">
  <h2>Missions:</h2>
  <section id="newMissionContainer">
    <button class="normalGreyButton" id="newMissionButton" (click)="editMission(null)">New Mission</button>
    <p class="smallDescription">Or click on the map to add a mission with a location.</p>
  </section>
  <section class="missionContainer">
    <div *ngFor="let mission of missions" id="mission">
      <p>{{mission.description}}</p>
      <button class="normalGreyButton" (click)="editMission(mission)">Edit</button>
    </div>
  </section>
</section>
