#mission {
  display: flex;
  justify-content: space-between;
}
.smallDescription {
  font-size: 80%;
  width: 60%;
  align-self: center;
  font-style: italic;
}
#newMissionContainer {
  display: flex;
  justify-content: space-around;
}
#newMissionButton {
  align-self: center;
}
