.gameTitleContainer {
  display: flex;
  justify-content: space-between;
}
.normalGreyButton {
  align-self: center;
  margin-right: 14%;
}
#title {
  font-size: 200%;
  line-height: 20px;
  margin-left: 3%;
  width: 50%;
}
