<section id="authContainer" class="blackBackground">
  <section id="infoContainer" *ngIf="auth.user$ | async as user">
    <h2>Logged in as:</h2>
    <h3 id="name">{{ user.name }}</h3>
  </section>
  <section id="buttonContainer">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <button (click)="auth.logout({ returnTo: document.location.origin })" class="normalGreyButton">
        Log out
      </button>
    </ng-container>

    <ng-template #loggedOut>
      <button (click)="auth.loginWithRedirect()" class="normalGreyButton">Log in</button>
    </ng-template>
  </section>
</section>

