#authContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 30vh;
  width: 70%;
  align-self: center;
  margin-left: 15%;
}
#infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#name {
  color: #00FF00;
}
#buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.normalGreyButton {
  font-size: 150%;
}
