.infoContainer {
  display: flex;
  justify-content: space-evenly;
}
.time {
  height: 0;
}
.timeContainer {
  display: flex;
  flex-direction: column;
}
#status {
  align-self: flex-end;
  margin-left: 10px;
}
