<body>
<app-game-title></app-game-title>
<main class="gameInfoPageContainer">
  <!--Should use gameInfo.description instead of mockDescription-->
  <app-game-description id="gameDescriptionElement" [gameDescription]="mockDescription"></app-game-description>
  <section class="squadBiteMapChatContainer">
    <app-squad [squadName]="mockSquadName" [members]="mockSquad"></app-squad>
    <app-map id="map"></app-map>
  </section>
  <section class="squadBiteMapChatContainer">
    <app-bite-code [biteCode]="mockBiteCode"></app-bite-code>
    <app-chat id="chat" [chatMessages]="mockChat"></app-chat>
  </section>
</main>
</body>
