<body>
<app-game-title
  [gameTitle]="game.name"
  (joinGame)="registerUser()"
></app-game-title>
<main class="gameInfoPageContainer">
  <app-game-description id="gameDescriptionElement"
                        [gameDescription]="game.description"
  ></app-game-description>
  <section class="componentContainer">
    <app-squad [squad]="game.squad_info"></app-squad>
    <app-map id="map"
             [mapInfo]="game.map_info"
             [kills]="game.kills"
             [missions]="game.missions"
    ></app-map>
  </section>
  <section class="componentContainer">
    <app-bite-code
      [biteCode]="game.bite_code"
    ></app-bite-code>
    <app-chat id="chat"
              [chatMessages]="game.messages"
              [playerIsHuman]="game.player_is_human"
              [playerHasSquad]="game.squad_info != null"
              (globalChat)="loadGlobalChat()"
              (factionChat)="loadFactionChat()"
              (squadChat)="loadSquadChat()"
              (sendChat)="sendChatMessage($event)"
    ></app-chat>
  </section>
</main>
</body>
