
#gameDescriptionElement {
  width: 30%;
}
.gameInfoPageContainer {
  display: flex;
  justify-content: space-evenly;
}
#chat {
  baseline-shift: unset;
  align-self: baseline;
  height: 100%;
}
#map {
  row-gap: 0;
  align-self: flex-end;
  width: 100%;
  height: 100%;
}
