<section class="greyBackground">
  <form>
    <input
      type="text"
      [(ngModel)]="playerName"
      (submit)="onPlayerSearch()"
      (keydown)="onPlayerSearch()"
      name="playerSearch">
  </form>
  <section id="playerContainer" *ngIf="playerName != ''">
    <h3>Name: {{playerName}}</h3>
    <h3>Faction: {{player.isHuman}}</h3>
    <h3 *ngIf="player.isHuman">BiteCode: {{player.biteCode}}</h3>
    <section id="messages">
      <div id="message" *ngFor="let message of player.messages">
        <p>{{message.time}}</p>
        <p>{{message.content}}</p>
      </div>
    </section>
    <section id="kills">
      <div id="kill" *ngFor="let kill of player.kills">
        <p>{{kill.victimName}}</p>
        <p>{{kill.story}}</p>
      </div>
    </section>
  </section>
</section>
