<section class="greyBackground">
  <!--Needs both the versions of width and height to work-->
  <google-map #gmap
              [options]="options"
              height="100%" width="100%"
              style="height: 100%; width: 100%"
  >
    <map-marker #mapMarker="mapMarker"
      *ngFor="let marker of markers"
      [label]="marker.label"
      [position]="marker.position"
      [options]="marker.options"
      (mapClick)="openInfoWindow(mapMarker, marker.description)"
    ></map-marker>
    <map-info-window></map-info-window>
  </google-map>
</section>
