<section class="greyBackground">
  <section class="gameDescriptionContainer">
    <h2>Game description:</h2>
    <textarea [(ngModel)]="gameDescription" placeholder="Game description" id="gameDesc" cdkTextareaAutosize (change)="outputDesc()"></textarea>
    <h2>Rules:</h2>
    <p>Humans vs. Zombies (HvZ) is a game of tag played at schools, camps, neighborhoods, libraries, and conventions around the world. The game simulates the exponential spread of a fictional zombie infection through a population. The game is played as follows:</p>
    <ol>
      <li>
        The game begins with one or more “Original Zombies” (OZ) or patient zero. The purpose of the OZ is to infect human players by tagging them. Once tagged, a human becomes a zombie for the remainder of the game.
      </li>
      <li>
        Human players are able to defend themselves against the zombie horde using Nerf weapons and clean, rolled-up socks which may be thrown to stun an unsuspecting zombie.
      </li>
      <li>
        Many variants of the game rules exist which introduce additional rules and activities into the game; for example, the Rhodes University variant introduces a web-based game map where markers appear showing the location of missions and supplies. The appearance of supplies forces humans to leave their safe zones and risk being turned.
      </li>
    </ol>
  </section>
</section>
