<section class="greyBackground">
  <section class="gameDescriptionContainer">
    <h2>Game description:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce felis turpis, egestas eget turpis ut, vulputate gravida massa. Donec consequat condimentum rhoncus. In id venenatis massa. Nam tempor molestie metus eu porttitor. Nulla molestie, purus at varius mollis, quam erat ullamcorper augue, vel placerat diam sem ut massa. Pellentesque id magna tincidunt augue volutpat viverra. Phasellus nec purus tortor. Integer eros tortor, consectetur sit amet orci sed, rutrum tincidunt eros. In porta sit amet sapien quis semper. Nunc nulla eros, vehicula sit amet felis non, vulputate ornare justo.</p>
    <h2>Rules:</h2>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed maximus magna, id rutrum justo. Ut finibus velit aliquam risus tempus, et aliquet nunc aliquet. Vestibulum quam ligula, vestibulum at.</li>
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed maximus magna, id rutrum justo. Ut finibus velit aliquam risus tempus, et aliquet nunc aliquet. Vestibulum quam ligula, vestibulum at.</li>
    </ul>
  </section>
</section>
