<mat-dialog-content>
  <!--TODO: both killerName and victimeName should be changed to dropdown-menus.-->
  <div>
    <mat-error *ngIf="description.textLength == 0 && buttonClicked">Field can't be empty</mat-error>
    <textarea #description id="killerName" cdkTextareaAutosize
              [(ngModel)]="data.killerName" placeholder="Killer name (Required)"></textarea>
  </div>
  <div>
    <mat-error *ngIf="description.textLength == 0 && buttonClicked">Field can't be empty</mat-error>
    <textarea #description id="victimName" cdkTextareaAutosize
              [(ngModel)]="data.victimName" placeholder="Victim name (Required)"></textarea>
  </div>
  <div>
    <textarea #description id="story" cdkTextareaAutosize
              [(ngModel)]="data.story" placeholder="Kill Story (Optional)"></textarea>
  </div>
  <mat-label>When did the kill happen? (Required):</mat-label>
  <section id="dateTimeContainer">
    <mat-form-field appearance="fill">
      <input matInput [matDatepicker]="startPicker" placeholder="Start date" [(ngModel)]="data.timeOfDeath">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
  </section>
</mat-dialog-content>

<mat-dialog-actions id="buttonContainer">
  <button id="saveMission" class="normalGreyButton" (click)="closeDialog(true)">Save</button>
  <button id="deleteMission" class="normalGreyButton" (click)="closeDialog(false)">Delete</button>
</mat-dialog-actions>
