<section class="greyBackground" *ngIf="isHuman">
  <h2>Bite Code:</h2>
  <h3 id="biteCode">{{biteCode}}</h3>
</section>
<section class="greyBackground" *ngIf="!isHuman">
  <h2>Register Bite Code</h2>
  <textarea placeholder="Bite code" #biteCode></textarea>
  <textarea placeholder="Kill story (Optional)" #story></textarea>
  <form id="buttonContainer">
    <button (click)="getLocation()" class="normalGreyButton">Add location</button>
    <button (click)="saveKill(story.textContent, biteCode.textContent)" class="normalGreyButton">Save</button>
  </form>
</section>
