<body>
<app-game-title-admin [(gameTitle)]="game.name" (gameTitleChange)="saveChanges()"></app-game-title-admin>
<main class="adminContainer">
  <app-players
    [playerList]="game.players"
    (playerUpdate)="updatePlayers()"></app-players>
  <section class="componentContainer">
    <app-game [(gameDescription)]="game.description"></app-game>
  </section>
  <section class="componentContainer">
    <app-map-admin id="map"
      [mapInfo]="game.map_info"
      [kills]="game.kills"
      [missions]="game.missions"
      [gameID]="game.id"
      [biteCodes]="humanBiteCodes"
      [ids]="zombieIDs"
      (missionUpdate)="updateMissions()"
      (killUpdate)="updateKills()"
    ></app-map-admin>
    <app-chat-admin id="chat"></app-chat-admin>
  </section>
</main>
</body>
